In [1]:
# ============================================================================
# LECTURA Y AN√ÅLISIS DE DATOS DE TEMPERATURAS GLOBALES POR PA√çS
# Archivo: GlobalLandTemperaturesByCountry.csv
# ============================================================================

# Importar las librer√≠as necesarias para el an√°lisis de datos
import pandas as pd
import os

# ----------------------------------------------------------------------------
# 1. DEFINIR LA RUTA DEL ARCHIVO
# ----------------------------------------------------------------------------
# Usamos os.path.join para asegurar compatibilidad entre sistemas operativos
ruta_archivo = os.path.join('raw_data', 'GlobalLandTemperaturesByCountry.csv')

# Verificar si el archivo existe antes de intentar leerlo
if not os.path.exists(ruta_archivo):
    print(f"‚ùå Error: El archivo {ruta_archivo} no existe.")
else:
    print(f"‚úÖ Leyendo el archivo: {ruta_archivo}\n")
    
    # ------------------------------------------------------------------------
    # 2. LEER EL ARCHIVO CSV
    # ------------------------------------------------------------------------
    # Leer el archivo CSV usando pandas
    # - parse_dates=['dt']: convierte autom√°ticamente la columna 'dt' a formato datetime
    # - encoding='utf-8': especifica la codificaci√≥n del archivo
    df_temperaturas = pd.read_csv(
        ruta_archivo,
        parse_dates=['dt'],  # Convertir la columna de fecha a tipo datetime
        encoding='utf-8'     # Especificar la codificaci√≥n del archivo
    )
    
    # ------------------------------------------------------------------------
    # 3. INFORMACI√ìN GENERAL DEL DATASET
    # ------------------------------------------------------------------------
    print("="*70)
    print("üìä INFORMACI√ìN GENERAL DEL DATASET")
    print("="*70)
    
    # Dimensiones del dataset (filas, columnas)
    print(f"\nüìê Dimensiones: {df_temperaturas.shape[0]:,} filas x {df_temperaturas.shape[1]} columnas")
    
    # Mostrar los nombres de las columnas
    print(f"\nüìã Columnas del dataset:")
    for i, columna in enumerate(df_temperaturas.columns, 1):
        print(f"   {i}. {columna}")
    
    # Mostrar informaci√≥n detallada del dataframe (tipos de datos, memoria)
    print("\n" + "-"*70)
    print("‚ÑπÔ∏è  Informaci√≥n detallada:")
    print("-"*70)
    df_temperaturas.info()
    
    # ------------------------------------------------------------------------
    # 4. VISTA PREVIA DE LOS DATOS
    # ------------------------------------------------------------------------
    print("\n" + "="*70)
    print("üëÄ PRIMERAS 10 FILAS DEL DATASET")
    print("="*70)
    display(df_temperaturas.head(10))
    
    # ------------------------------------------------------------------------
    # 5. ESTAD√çSTICAS DESCRIPTIVAS
    # ------------------------------------------------------------------------
    print("\n" + "="*70)
    print("üìà ESTAD√çSTICAS DESCRIPTIVAS")
    print("="*70)
    display(df_temperaturas.describe())
    
    # ------------------------------------------------------------------------
    # 6. AN√ÅLISIS DE VALORES NULOS
    # ------------------------------------------------------------------------
    print("\n" + "="*70)
    print("üîç VALORES NULOS POR COLUMNA")
    print("="*70)
    
    # Contar valores nulos por columna
    valores_nulos = df_temperaturas.isnull().sum()
    porcentaje_nulos = (valores_nulos / len(df_temperaturas)) * 100
    
    # Crear un dataframe con la informaci√≥n de valores nulos
    df_nulos = pd.DataFrame({
        'Columna': valores_nulos.index,
        'Valores Nulos': valores_nulos.values,
        'Porcentaje (%)': porcentaje_nulos.values.round(2)
    })
    display(df_nulos)
    
    # ------------------------------------------------------------------------
    # 7. INFORMACI√ìN DE PA√çSES
    # ------------------------------------------------------------------------
    print("\n" + "="*70)
    print("üåç PA√çSES EN EL DATASET")
    print("="*70)
    
    # Obtener la lista de pa√≠ses √∫nicos
    paises_unicos = df_temperaturas['Country'].unique()
    print(f"\nüìå Total de pa√≠ses: {len(paises_unicos)}")
    
    print(f"\nüîù Primeros 20 pa√≠ses:")
    for i, pais in enumerate(paises_unicos[:20], 1):
        print(f"   {i:2d}. {pais}")
    
    # ------------------------------------------------------------------------
    # 8. RANGO DE FECHAS
    # ------------------------------------------------------------------------
    print("\n" + "="*70)
    print("üìÖ RANGO DE FECHAS")
    print("="*70)
    
    fecha_inicial = df_temperaturas['dt'].min()
    fecha_final = df_temperaturas['dt'].max()
    periodo_dias = (fecha_final - fecha_inicial).days
    periodo_a√±os = periodo_dias / 365.25
    
    print(f"\nüìç Fecha inicial: {fecha_inicial.strftime('%Y-%m-%d')}")
    print(f"üìç Fecha final:   {fecha_final.strftime('%Y-%m-%d')}")
    print(f"‚è±Ô∏è  Per√≠odo total: {periodo_dias:,} d√≠as (~{periodo_a√±os:.1f} a√±os)")
    
    # ------------------------------------------------------------------------
    # 9. CONFIRMACI√ìN DE CARGA
    # ------------------------------------------------------------------------
    print("\n" + "="*70)
    print("‚úÖ Dataset cargado exitosamente en la variable 'df_temperaturas'")
    print("="*70)

‚úÖ Leyendo el archivo: raw_data\GlobalLandTemperaturesByCountry.csv

======================================================================
üìä INFORMACI√ìN GENERAL DEL DATASET
======================================================================

üìê Dimensiones: 577,462 filas x 4 columnas

üìã Columnas del dataset:
   1. dt
   2. AverageTemperature
   3. AverageTemperatureUncertainty
   4. Country

----------------------------------------------------------------------
‚ÑπÔ∏è  Informaci√≥n detallada:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  datetime64[ns]
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 17.6+ MB

======================================================================
üëÄ PRIMERAS 10 FILAS DEL DATASET
======================================================================
======================================================================
üìä INFORMACI√ìN GENERAL DEL DATASET
======================================================================

üìê Dimensiones: 577,462 filas x 4 columnas

üìã Columnas del dataset:
   1. dt
   2. AverageTemperature
   3. AverageTemperatureUncertainty
   4. Country

----------------------------------------------------------------------
‚ÑπÔ∏è  Informaci√≥n detallada:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  datetime64[ns]
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 17.6+ MB

======================================================================
üëÄ PRIMERAS 10 FILAS DEL DATASET
======================================================================

          dt  AverageTemperature  AverageTemperatureUncertainty Country
0 1743-11-01               4.384                          2.294   √Öland
1 1743-12-01                 NaN                            NaN   √Öland
2 1744-01-01                 NaN                            NaN   √Öland
3 1744-02-01                 NaN                            NaN   √Öland
4 1744-03-01                 NaN                            NaN   √Öland
5 1744-04-01               1.530                          4.680   √Öland
6 1744-05-01               6.702                          1.789   √Öland
7 1744-06-01              11.609                          1.577   √Öland
8 1744-07-01              15.342                          1.410   √Öland
9 1744-08-01                 NaN                            NaN   √Öland

======================================================================
üìà ESTAD√çSTICAS DESCRIPTIVAS
======================================================================

,dt,AverageTemperature,AverageTemperatureUncertainty
count,577462,544811.000000,545550.000000
mean,1909-04-11 16:09:14.692083712,17.193354,1.019057
min,1743-11-01 00:00:00,-37.658000,0.052000
25%,1862-12-01 00:00:00,10.025000,0.323000
50%,1914-04-01 00:00:00,20.901000,0.571000
75%,1964-03-01 00:00:00,25.814000,1.206000
max,2013-09-01 00:00:00,38.842000,15.003000
std,NaN,10.953966,1.201930

======================================================================
üîç VALORES NULOS POR COLUMNA
======================================================================

                         Columna  Valores Nulos  Porcentaje (%)
0                             dt              0            0.00
1             AverageTemperature          32651            5.65
2  AverageTemperatureUncertainty          31912            5.53
3                        Country              0            0.00

======================================================================
üåç PA√çSES EN EL DATASET
======================================================================

üìå Total de pa√≠ses: 243

üîù Primeros 20 pa√≠ses:
    1. √Öland
    2. Afghanistan
    3. Africa
    4. Albania
    5. Algeria
    6. American Samoa
    7. Andorra
    8. Angola
    9. Anguilla
   10. Antarctica
   11. Antigua And Barbuda
   12. Argentina
   13. Armenia
   14. Aruba
   15. Asia
   16. Australia
   17. Austria
   18. Azerbaijan
   19. Bahamas
   20. Bahrain

======================================================================
üìÖ RANGO DE FECHAS
======================================================================

üìç Fecha inicial: 1743-11-01
üìç Fecha final:   2013-09-01
‚è±Ô∏è  Per√≠odo total: 98,555 d√≠as (~269.8 a√±os)

======================================================================
‚úÖ Dataset cargado exitosamente en la variable 'df_temperaturas'
======================================================================